<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ pageTitle }}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="http://localhost:8888/banvoucher/app/view/style.css">
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#"><img src="http://localhost:8888/banvoucher/app/view/content/img/logoTDT.png" class="logo"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="http://localhost:8888/banvoucher/">Trang Chủ <span class="sr-only">(current)</span></a>
                </li>
                {% if not (user) %}
                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:8888/banvoucher/account/login">Đăng Nhập</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:8888/banvoucher/account/register">Đăng Ký</a>
                </li>
                {% elseif nhomtk == 3 %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Đơn hàng
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="http://localhost:8888/banvoucher/cart/history">Lịch sử mua hàng</a>
                        <div class="dropdown-divider"></div>

                        {% if not( history is empty) %}
                        {% for listcard in history %}
                        <a class="dropdown-item" >
                            <img src="http://localhost:8888/banvoucher/app/view/content/img/{{listcard.hinhanh}}" class="avatar">
                            {{listcard.ten}}
                        </a>
                        {% endfor %}
                        {% endif %}


                    </div>

                </li>
                {% endif %}

                {%if nhomtk==1 or nhomtk==2%}
                <li class="nav-item">
                    <a class="nav-link " href="http://localhost:8888/banvoucher/voucher/add" >Thêm Voucher</a>
                </li>
                {% endif %}

                {% if nhomtk==1 %}
                <li class="nav-item">
                    <a class="nav-link " href="http://localhost:8888/banvoucher/staff/StaffList" >Quản lý nhân viên</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="http://localhost:8888/banvoucher/revenue/TongDoanhThu" >Doanh Thu</a>
                </li>
                {% endif %}

                {% if user %}
                <li class="nav-item ">
                    <a class="nav-link " href="http://localhost:8888/banvoucher/account/logout" >Đăng xuất</a>
                </li>
                {% endif %}

            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>

    {% block content %}
    {% endblock %}


</body>
</html>